/**
 * Config
 */
[field-container][type="text"] {
    --text_background   : #fff;
    --text_color        : #000;
    --text_font-size    : 18px;
    --text_line-height  : 18px;
    --text_icon-size    : 18px;
    --text_radius       : 0;
    --text_border       : 2px solid #333;
    --text_focus        : 2px solid red;
    --text_height       : 20px;
    --text_width        : 100%;
    --text_shadow       : 6px 10px 24px rgba( 0, 0, 0, 0.08 );
}


/**
 * Structure & styling
 */
[field-container][type="text"] {

}